* {
	box-sizing: border-box;
}

#map {
	height: 90vh;
}

.bold_text {
	font-weight: 800;
	font-size: 14px;
}

.controls {
	display: flex;
	flex-direction: row;
	gap: 10px;

	margin: 10px 0px;
}

.controls button{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	width: 100px;
	border-radius: 15px;
	font-size: 14px;
	font-weight: 600;
	transition: all 0.5s ease;
	
}

.controls button:hover {
	background-color: rgba(11, 130, 220, 0.911);
	border: 3px solid rgb(72, 10, 80);

}

.active {
	background-color: aquamarine;
}